<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Latitude:</b>
  <%= @person.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @person.longitude %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
